html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#308ef2+0,ffffff+100 */
  background: #1D478B;
  /* Old browsers */
  background: -moz-linear-gradient(bottom, #1d478b 15%, #00b2ef 66%, #c3d940 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.15, #1d478b), color-stop(0.66, #00b2ef), color-stop(1, #c3d940));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom, #1d478b 15%, #00b2ef 66%, #c3d940 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(bottom, #1d478b 15%, #00b2ef 66%, #c3d940 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(bottom, #1d478b 15%, #00b2ef 66%, #c3d940 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1d478b 15%, #00b2ef 66%, #c3d940 100%);
  /* W3C */
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans Condensed', sans-serif, Arial;
}
input[type=text],
button {
  font-family: 'Open Sans Condensed', sans-serif, Arial;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  height: 40px;
  padding: 0 10px 0 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}
nav h1 {
  padding: 0 20px 0 20px;
  line-height: 40px;
  float: left;
  background: #212226;
}
ul.grp,
dl.grp {
  display: block;
  background-color: transparent;
  float: left;
  height: 40px;
  overflow: hidden;
  list-style: none;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
ul.grp:hover,
dl.grp:hover {
  background-color: rgba(180, 180, 180, 0.8);
}
ul.grp li,
dl.grp li {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  list-style: none;
}
ul.grp li a,
dl.grp li a {
  font-size: 70%;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}
ul.grp li.on a,
dl.grp li.on a {
  color: #ffffff;
  font-weight: 600;
}
ul.grp li:hover,
dl.grp li:hover {
  background-color: #007acc;
}
ul.grp li:hover a,
dl.grp li:hover a {
  color: #ffffff;
}
ul.grp.mode:hover,
dl.grp.mode:hover {
  height: 400%;
}
ul.grp.print:hover,
dl.grp.print:hover {
  height: 200%;
}
ul.grp.save:hover,
dl.grp.save:hover {
  height: 200%;
}
ul.grp.size dt,
dl.grp.size dt {
  float: left;
  list-style: none;
  display: inline-block;
  height: 40px;
  line-height: 42px;
  padding: 0 5px 0 20px;
  font-size: 70%;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
ul.grp.size dt::after,
dl.grp.size dt::after {
  content: ":";
  display: inline-block;
}
ul.grp.size dd,
dl.grp.size dd {
  float: left;
  list-style: none;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px 0 5px;
}
ul.grp.size dd input[type=text],
dl.grp.size dd input[type=text] {
  display: inline-block;
  font-size: 70%;
  width: 30px;
  height: calc(40px - 10px);
  line-height: calc(40px - 10px);
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  color: #fff;
}
ul.grp.size dd input[type=text]:focus,
dl.grp.size dd input[type=text]:focus {
  outline: none;
}
ul.grp.size dd button,
dl.grp.size dd button {
  display: inline-block;
  font-size: 70%;
  box-shadow: none;
  border: none;
  height: calc(40px - 10px);
  text-transform: uppercase;
  background-color: rgba(0, 122, 204, 0.3);
  color: #fff;
}
ul.grp.size dd button:focus,
dl.grp.size dd button:focus {
  outline: none;
}
ul.grp.size:hover dd input[type=text],
dl.grp.size:hover dd input[type=text] {
  background-color: #fff;
  color: #000;
}
ul.grp.size:hover dd button,
dl.grp.size:hover dd button {
  background-color: #007acc;
}
ul.grp.bgimg dt,
dl.grp.bgimg dt {
  float: left;
  list-style: none;
  display: inline-block;
  height: 40px;
  line-height: 42px;
  padding: 0 5px 0 20px;
  font-size: 70%;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
ul.grp.bgimg dt::after,
dl.grp.bgimg dt::after {
  content: ":";
  display: inline-block;
}
ul.grp.bgimg dd,
dl.grp.bgimg dd {
  float: left;
  list-style: none;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px 0 5px;
}
ul.grp.bgimg dd input[type=text],
dl.grp.bgimg dd input[type=text] {
  display: inline-block;
  font-size: 70%;
  height: calc(40px - 10px);
  line-height: calc(40px - 10px);
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  color: #fff;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
ul.grp.bgimg dd input[type=text]:focus,
dl.grp.bgimg dd input[type=text]:focus {
  outline: none;
}
ul.grp.bgimg dd input#layer,
dl.grp.bgimg dd input#layer {
  width: 20px;
}
ul.grp.bgimg dd input#bgimg,
dl.grp.bgimg dd input#bgimg {
  width: 50px;
}
ul.grp.bgimg dd button,
dl.grp.bgimg dd button {
  display: inline-block;
  font-size: 70%;
  box-shadow: none;
  border: none;
  height: calc(40px - 10px);
  text-transform: uppercase;
  background-color: rgba(0, 122, 204, 0.3);
  color: #fff;
}
ul.grp.bgimg dd button:focus,
dl.grp.bgimg dd button:focus {
  outline: none;
}
ul.grp.bgimg:hover dd input[type=text],
dl.grp.bgimg:hover dd input[type=text] {
  background-color: #fff;
  color: #000;
}
ul.grp.bgimg:hover dd input#layer,
dl.grp.bgimg:hover dd input#layer {
  width: 20px;
}
ul.grp.bgimg:hover dd input#bgimg,
dl.grp.bgimg:hover dd input#bgimg {
  width: 150px;
}
ul.grp.bgimg:hover dd button,
dl.grp.bgimg:hover dd button {
  background-color: #007acc;
}
footer {
  display: none;
}
#dimmedbg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
#dimmedbg .popupclose {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('../images/colleagueeditor/ic_arrow_back_white_24px.svg');
  background-position: 0 0;
  background-size: contain;
  background-color: transparent;
}
#dimmedbg .popupWrapper {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -250px;
}
#dimmedbg .lists {
  display: block;
  width: 470px;
  height: 30vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 50px auto 0 auto;
  border: 2px solid #ffffff;
  background-color: #fff;
  list-style: none;
}
#dimmedbg .lists li a {
  display: block;
  width: calc(100% - 50px);
  padding-left: 50px;
  font-family: 'Open Sans Condensed';
  color: #000;
  font-size: 30px;
  text-align: left;
  text-decoration: none;
  line-height: 40px;
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}
#dimmedbg .lists li a:hover {
  background-color: #4a95c7;
  color: #fff;
}
