@version: "0.0.1";
@nav-menu-height: 40px;

html {
    height: 100%;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#308ef2+0,ffffff+100 */
	background: #1D478B; /* Old browsers */
	background: -moz-linear-gradient(bottom, #1D478B 15%, #00B2EF 66%, #C3D940 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.15,#1D478B), color-stop(0.66,#00B2EF), color-stop(1,#C3D940)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom, #1D478B 15%, #00B2EF 66%, #C3D940 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom, #1D478B 15%, #00B2EF 66%, #C3D940 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(bottom, #1D478B 15%, #00B2EF 66%, #C3D940 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1D478B 15%, #00B2EF 66%, #C3D940 100%); /* W3C */
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans Condensed', sans-serif, Arial;
}

input[type=text], button {
    font-family: 'Open Sans Condensed', sans-serif, Arial;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(~'100% - 10px');
    height: @nav-menu-height;
    padding: 0 10px 0 0;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;

    h1 {
        padding: 0 20px 0 20px;
        line-height: @nav-menu-height;
        //display: inline-block;
        float: left;
        background: rgba(33, 34, 38, 1);
    }
}

ul, dl {
    &.grp {
        display: block;
        background-color: transparent;
        float: left;
        height: @nav-menu-height;
        overflow: hidden;
        list-style: none;
        -o-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        

        &:hover {
            background-color: rgba(180, 180, 180, 0.8);
        }

        li {
            display: block;
            width: 100%;
            height: @nav-menu-height;
            line-height: @nav-menu-height;
            padding: 0 20px;
            list-style: none;

            a {
                font-size: 70%;
                color: rgba(0, 0, 0, 1);
                text-decoration: none;
                font-weight: 600;
                text-transform: uppercase;
            }

            &.on {
                a {
                    color: rgba(255, 255, 255, 1);
                    font-weight: 600;
                }
            }

            &:hover {
                background-color: rgba(0, 122, 204, 1);

                a {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }

        &.mode {
            &:hover {
                height: 400%;
            }
        }

        &.load {
            &:hover {
                height: 200%;
            }
        }
    }
}

#floatPannel {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 100px;
    width: 400px;
    height: 700px;
    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Open Sans Condensed';
    
    &.dimmed {
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
    }
    
    #btnClose {
        text-indent: -9999px;
        background-image: url('../images/colleagueeditor/ic_clear_white_24px.svg');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;
        border-style: none;
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    
    .innerPanel {
        background: transparent;
        margin: 25px auto 0 auto;
        display: block;
        width: 95%;
        height: 95%;
        overflow: hidden;
        
        h3 {
            color: #fff;
            font-weight: 600;
            font-size: 1.5em;
            margin: 0 0 5px 0;
        }
        
        .list {
            margin-bottom: 10px;
            background-color: #ffffff;
            max-height: 90%;
            
            &.allow_scroll {
                overflow-y: auto;
                overflow-x: hidden;
            }
            
            &.not_scroll {
                overflow-y: hidden;
                overflow-x: hidden;
            }
            
            a {
                color: #000;
                font-weight: 500;
                font-size: 1em;
                line-height: 1.5em;
                text-decoration: none;
                display: inline-block;
                width: 100%;
                padding: 5px 0;
                
                img {
                    width: 25px;
                    height: 25px;
                    margin: 0 10px;
                    vertical-align: middle;
                }
                
                .nick {
                    color: #0000ff;
                    margin: 0 0 0 10px;
                    font-weight: 600;
                }
                
                .floor {
                    color: #a0a0a0;
                    margin: 0 0 0 10px;
                    font-weight: 400;
                }
                
                &:hover {
                    background-color: #E18728;
                }
            }
        }
        
        dl {
            list-style: none;
            padding: 10px 0;
            
            dt {
                list-style: none;
                float: left;
                line-height: 2em;
                
                label {
                    font-weight: 600;
                    padding: 0 0 0 10px;
                }
                
                &::after {
                    content: ':';
                    display: inline;
                    padding: 0 10px 0 0;
                }
            }
            
            dd {
                list-style: none;
                line-height: 2em;
                
                input {
                    &[name=pictureUrl] {
                        width: 250px;
                    }
                }
            }
        }
    }
    
    .flatbtn {
        border-style:none;
        border-radius: 3px;
        color: #fff;
        font-family: 'Open Sans Condensed';
        font-weight: 500;
        font-size: 1em;
        line-height: 1.5em;
        padding: 0 10px;
        margin: 0 5px 0 0;
        
        &.blue {
            background-color: #3399CC;
        }
        
        &.gray {
            background-color: #a0a0a0;
        }
        
        &.orange {
            background-color: #ff6600;
        }
    }
}

#dimmedbg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;

    .popupclose {
        display: inline-block;
        width: 40px;
        height: 40px;
        overflow: hidden;
        text-indent: -9999px;
        background-image: url('../images/colleagueeditor/ic_arrow_back_white_24px.svg');
        background-position: 0 0;
        background-size: contain;
        background-color: transparent;
    }

    .popupWrapper {
        width: 500px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -250px;
    }

    .lists {
        display: block;
        width: 470px;
        height: 30vh;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 50px auto 0 auto;
        border: 2px solid #ffffff;
        background-color: #fff;
        list-style: none;
        
        li {
            a {
                display: block;
                width: calc(~'100% - 50px');
                padding-left: 50px;
                font-family: 'Open Sans Condensed';
                color: #000;
                font-size: 30px;
                text-align: left;
                text-decoration: none;
                line-height: 40px;
                background-position: 0 0;
                background-size: contain;
                background-repeat: no-repeat;
                
                &:hover {
                    background-color: rgba(74, 149, 199, 1);
                    color: #fff;
                }
            }
        }
    }
}