html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#308ef2+0,ffffff+100 */
  background: #1D478B;
  /* Old browsers */
  background: -moz-linear-gradient(bottom, #1d478b 15%, #00b2ef 66%, #c3d940 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.15, #1d478b), color-stop(0.66, #00b2ef), color-stop(1, #c3d940));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom, #1d478b 15%, #00b2ef 66%, #c3d940 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(bottom, #1d478b 15%, #00b2ef 66%, #c3d940 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(bottom, #1d478b 15%, #00b2ef 66%, #c3d940 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1d478b 15%, #00b2ef 66%, #c3d940 100%);
  /* W3C */
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans Condensed', sans-serif, Arial;
}
input[type=text],
button {
  font-family: 'Open Sans Condensed', sans-serif, Arial;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  height: 40px;
  padding: 0 10px 0 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}
nav h1 {
  padding: 0 20px 0 20px;
  line-height: 40px;
  float: left;
  background: #212226;
}
ul.grp,
dl.grp {
  display: block;
  background-color: transparent;
  float: left;
  height: 40px;
  overflow: hidden;
  list-style: none;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
ul.grp:hover,
dl.grp:hover {
  background-color: rgba(180, 180, 180, 0.8);
}
ul.grp li,
dl.grp li {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  list-style: none;
}
ul.grp li a,
dl.grp li a {
  font-size: 70%;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}
ul.grp li.on a,
dl.grp li.on a {
  color: #ffffff;
  font-weight: 600;
}
ul.grp li:hover,
dl.grp li:hover {
  background-color: #007acc;
}
ul.grp li:hover a,
dl.grp li:hover a {
  color: #ffffff;
}
ul.grp.mode:hover,
dl.grp.mode:hover {
  height: 300%;
}
ul.grp.load:hover,
dl.grp.load:hover {
  height: 200%;
}
#floatPannel {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 100px;
  width: 400px;
  height: 700px;
  background-color: rgba(10, 10, 10, 0.7);
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Open Sans Condensed';
}
#floatPannel.dimmed {
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}
#floatPannel #btnClose {
  text-indent: -9999px;
  background-image: url('../images/colleagueeditor/ic_clear_white_24px.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border-style: none;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}
#floatPannel .innerPanel {
  background: transparent;
  margin: 25px auto 0 auto;
  display: block;
  width: 95%;
  height: 95%;
  overflow: hidden;
}
#floatPannel .innerPanel h3 {
  color: #fff;
  font-weight: 600;
  font-size: 1.5em;
  margin: 0 0 5px 0;
}
#floatPannel .innerPanel .list {
  margin-bottom: 10px;
  background-color: #ffffff;
  max-height: 90%;
}
#floatPannel .innerPanel .list.allow_scroll {
  overflow-y: auto;
  overflow-x: hidden;
}
#floatPannel .innerPanel .list.not_scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}
#floatPannel .innerPanel .list a {
  color: #000;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5em;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 5px 0;
}
#floatPannel .innerPanel .list a img {
  width: 25px;
  height: 25px;
  margin: 0 10px;
  vertical-align: middle;
}
#floatPannel .innerPanel .list a .nick {
  color: #0000ff;
  margin: 0 0 0 10px;
  font-weight: 600;
}
#floatPannel .innerPanel .list a .floor {
  color: #a0a0a0;
  margin: 0 0 0 10px;
  font-weight: 400;
}
#floatPannel .innerPanel .list a:hover {
  background-color: #E18728;
}
#floatPannel .innerPanel dl {
  list-style: none;
  padding: 10px 0;
}
#floatPannel .innerPanel dl dt {
  list-style: none;
  float: left;
  line-height: 2em;
}
#floatPannel .innerPanel dl dt label {
  font-weight: 600;
  padding: 0 0 0 10px;
}
#floatPannel .innerPanel dl dt::after {
  content: ':';
  display: inline;
  padding: 0 10px 0 0;
}
#floatPannel .innerPanel dl dd {
  list-style: none;
  line-height: 2em;
}
#floatPannel .innerPanel dl dd input[name=pictureUrl] {
  width: 250px;
}
#floatPannel .flatbtn {
  border-style: none;
  border-radius: 3px;
  color: #fff;
  font-family: 'Open Sans Condensed';
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0 10px;
  margin: 0 5px 0 0;
}
#floatPannel .flatbtn.blue {
  background-color: #3399CC;
}
#floatPannel .flatbtn.gray {
  background-color: #a0a0a0;
}
#floatPannel .flatbtn.orange {
  background-color: #ff6600;
}
#dimmedbg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
#dimmedbg .popupclose {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('../images/colleagueeditor/ic_arrow_back_white_24px.svg');
  background-position: 0 0;
  background-size: contain;
  background-color: transparent;
}
#dimmedbg .popupWrapper {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -250px;
}
#dimmedbg .lists {
  display: block;
  width: 470px;
  height: 30vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 50px auto 0 auto;
  border: 2px solid #ffffff;
  background-color: #fff;
  list-style: none;
}
#dimmedbg .lists li a {
  display: block;
  width: calc(100% - 50px);
  padding-left: 50px;
  font-family: 'Open Sans Condensed';
  color: #000;
  font-size: 30px;
  text-align: left;
  text-decoration: none;
  line-height: 40px;
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}
#dimmedbg .lists li a:hover {
  background-color: #4a95c7;
  color: #fff;
}
